/* Global Styles */

:root {
    --main-colour: #701A37;
	--secondary-colour: #b1546d;
}

.body {
	font-family: 'Roboto', sans-serif;
}

h2.sec-title {
	font-weight: 500;
	font-size: 32px;
}

.border-bottom {
	height: 5px;
	width: 80%;
	background-color: var(--main-colour);
	border-radius: 15px;
}

 body {
    overflow-x: hidden;
    overflow-y: auto;
 }

 .disabled {
	opacity: 0.5;
}

.btn-custom {
	padding: 2px 2px;
	min-width: 100px !important;
    max-width: 200px !important;
	background-color: var(--main-colour) !important;
	color: #fff !important;
	transition: 0.5s ease-in;
}

.btn-custom:hover {
	background-color: var(--secondary-colour) !important;
	color: #fff !important;
}

/* Tab */
.nav-item {
    color: var(--main-colour);
}

a.active {
    background: var(--main-colour) !important;
    color: #fff !important;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #701A37;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    background-color: rgba(255,255,255,0.2);
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    margin-right: 15px ;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* CKEditor Styles */
